name: Playwright Tests

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout frontend repo
        uses: actions/checkout@v3

      - name: Checkout backend Repo
        uses: actions/checkout@v3
        with:
          repository: 'NoamHandelman/fitbuddy-server'
          path: 'fitbuddy-server'

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install frontend dependencies
        run: npm ci

      - name: Start frontend server
        run: npm run dev &

      - name: Install backend dependencies
        run: |
          cd fitbuddy-server
          npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Docker Compose
        run: |
          cd fitbuddy-server
          docker-compose up -d

      - name: Wait for frontend and backend servers
        run: |
          echo "Waiting for frontend and backend servers to be ready..."
          for i in {1..60}; do
            curl -f http://localhost:3000/ && curl -f http://backend-service-url/ && break
            echo "Waiting for servers... attempt $i"
            sleep 5
          done

      - name: Run Playwright tests
        run: npx playwright test

      - name: Shutdown Docker Compose Services
        run: |
          cd fitbuddy-server
          docker-compose down

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
